* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Kanit', sans-serif;
  }

nav{
    padding: 20px;
    height: 15vh;
    
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{

    /* to remove .(Dot) from list items we are using list-style-none */

    list-style: none;  
    margin-right: 5%;
    font-weight: 600;

}

nav ul li img {
    width: 100px;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .main-leftside {
    width: 40%;
    /* padding: 50px 30px; */
  }

  .main-leftside  h1 {
    font-size: 60px;
  }
  
  .main-leftside  p {
    margin: 5% 0;
  }

  .main-leftside button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;

  }

  .main-rightside{
    width: 60%;
    padding-left: 7%;
  }

  .main-rightside div img {
    width: 30%;
  }
  


